.profile__page__container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem;
}

.profile__page__main__container {
    width: 600px;
    margin: 0;
    /* border: 1px solid #ccc; */
}

.user__details__heading {
    margin-left: 1rem;
    text-align: start;
    margin-bottom: 1rem;

}

.user__header {
    display: flex;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(58, 53, 65, .1);
    padding: 15px 30px;
}

.user__fullname {
    margin: 0;
}

.user__fullname__details {
    text-align: start;
}

.user__1st__sec {
    display: flex;
    justify-content: space-between;
}

.user__profile__heading {
    display: flex;
    text-align: start;
    gap: 12px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(58, 53, 65, .1);
    padding: 15px 30px;
}

.user__profile__texts {
    width: 100%;
    margin-right: 16px;
}

.user__2st__sec {
    margin: 8px 0px;
}

.user__2st__sec a {
    margin-left: 8px;
}

.user__3st__sec {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    gap: 1rem;
}

.user__profile__heading img {
    height: 75%;
    border-radius: 50%;
    border: 2px solid #2193b0;
}

.user__profile__img {
    width: 100px;
}