.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 400px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.Submit-btn {
    width: fit-content;
    align-self: center;
}